 *{
    padding: 0;
    margin: 0;
 }
 body{
    background-color: rgb(237, 236, 236);
 }
 .menu_bar{
            height: 6vh;
            width: 100vw;
            background-color: #e8e4e0;   
             position:fixed; 
            }

.menu_bar_child{
    width: 96vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
   
     background-color: #e8e4e0;    
}     
.span_div{
    display: flex;
    flex-direction: column;
    gap: .6vh;
}
.hamberburger{
    position: relative;
} 
#profile{
    height: 30px;
}      
#search{
    height: 28px;
}
.profile_search{
    display: flex;
    gap: 1.7vh;
    justify-content: center;
    align-items: center;
}
.cart{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.logo{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#buildYourOwn{
    width: 100%;
    margin-top: 6vh;
}
.mainContent{
    width: 97vw;
    margin: auto;
    margin-top: 7vh;
    display: flex;
    gap: 5vw;
    display: flex;
}
.filter{
    height: 37vh;
    width: 86vw;
    padding-left: 2vh;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    padding-top: 2vh;
    gap: 5vh;
    position: sticky;
    top: 10vh;
    border-radius: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
#img{
    width: 100%;
    /* height: 40vh; */
    border-radius: 2vh;
}
.box{
    width: 22vw;
  
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.filterContent{
       display: flex;
    flex-direction: column;
    gap: 3vh;
}
.moreFilter{
    /* border-bottom: 2px solid black; */
}
.exhibitDesk{
    font-size: 1.2rem;
    font-weight: 500;
    
}
.boxText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
    flex-direction: column;
    gap: .7vh;
}
.walnut{
    color: gray;
}
.money{
    font-size: 1.1rem;
    font-weight: 500;
}
.product{
    display: flex;
    gap: 2vw;
  justify-content: space-around;
    /* margin-left: 9VW; */
    flex-wrap: wrap;
    /* padding-left: 10vw; */
    /* background-color: red; */
}
.footerMain{
    display: flex;
    width: 95vw;
    gap: 3vw;
    margin: auto;
    margin-top: 5vh;
}
#ad{
    height: 103vh;
     border-radius: 2vh;
}
#ad3{
    width: 100%;
    height: 09%;
    border-radius: 2vh;
}
.footer1{
 
    
    display: flex;
    flex-direction: column;
    gap: 2.9vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}
#footerLogo{
    height: 30px;
    margin-top: 40px;
}
.footer2{
    margin-top: 4vh;
      display: flex;
    flex-direction: column;
    gap: 2.2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footerInfo{
    display: flex;
    flex-direction: column;
    gap: .7vh;
}
.buildDesk{
    margin-top: 5vh;
}
.selet{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    margin-left: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.india{
    border: 2px solid black;
    height: 6vh;
    width: 15vw;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1B1B;
}
#india{
    height: 3vh;
    width: 7vw;
    border: none;
    background-color: #1C1B1B;
    color: white;
    font-size: 1.2rem;
}
@media screen and (max-width:576px){
    .filter{
        display: none;
        flex-direction: column;
    }
    .footerMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }.product{
        display: flex;
        flex-direction: column;

    }
    .box{
        width: 90%;
    }
}